*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}

h2{
  text-align: center;
  color: #39A900;
  margin-top: 4em;
  margin-bottom: 2em;
}

nav{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  transition: 0.7s;
  padding: 0 5%;
  height: 105px;
  width: 100%;
  justify-content: space-around;
  background-color: transparent;
}

nav .logo img{
  margin-top: 10px;
  float: left;
  width: 85px;
  height: 80px;
  display: flex;
  align-items: center;
}

nav .list{
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .list li{
  list-style: none;
}

nav .list a{
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav .list a:hover{
  border-bottom: 4px solid #39A900;
}

#toggle{
  position: absolute;
  top: -100px;
}

nav .icon-bars{
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-bars .line{
  width: 30px;
  height: 5px;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}


@media (max-width: 1200px){
  nav{
    flex-direction: column;
  }
  nav.list{   
      display: flex;
      flex-direction: column;
      width: 100%;
  }
}
@media(max-width: 768px){
  nav .logo{
      float: none;
      width: auto;
      justify-content: center;
  }

  nav .list{
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: black;
      overflow: hidden;
      transition: all .5s ease-in-out;
  }

  nav .list a{
      font-size: 13px;
  }

  nav :checked ~ .list{   
      bottom: 0;
  } 

  nav .icon-bars{
      display: block;
  }

  nav.abajo .icon-bars .line{
    background-color: #1b1b1b;
  }
}

nav.abajo {
  background: #fff;
  padding: 15px 20px;
}

nav.abajo .logo,
nav.abajo ul li a{
  color: #1b1b1b;
  text-shadow: none;
}


nav ul li a.activate {
  color: #fff;
  font-weight: 600;
  background: #39A900;
  padding: 10px 20px;
  border-radius: 10px;
}

/*-------Contenido-------*/
.seccion {
  position: relative;
    display: flex; /* Contenedor flex para alinear elementos */
    background-image: url('../img_musica/musica.jpeg'); /* Degradado lineal de izquierda a derecha */
    background-position: center;
    background-size: cover;
    color: #fff; /* Color del texto */
    text-align: center;
    padding: 80px 0;
    height: 90vh;
    flex-wrap: wrap;
}

.seccion::before {
  content: ""; /* Crea un elemento ficticio */
  position: absolute; /* Establece la posición absoluta para que cubra todo el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente (negro en este caso) */
}
.seccion-content {
    position: relative;
    z-index: 1;
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar horizontalmente el contenido */
    display: flex; /* Elementos secundarios flex para distribuirlos horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos secundarios */
    align-items: center; /* Centrar verticalmente */
}

.text-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-content h1 {
    font-size: 4em;
    color: #39A900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.image-content {
    flex: 1; /* Elemento de imagen se expandirá para llenar el espacio disponible */
    text-align: right; /* Alinear la imagen a la derecha */
}

.image-content img {
    max-width: 100%; /* Asegurarse de que la imagen se ajuste al contenedor */
    height: auto;
}

.text-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff; /* Color de fondo del botón */
    color: #39A900; /* Color del texto del botón */
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.text-content .btn:hover {
    background-color: #39A900; /* Color de fondo del botón al pasar el mouse */
    color: #fff; /* Color del texto del botón al pasar el mouse */
}


/*generos*/
.flex-wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.containe {
  flex: 0 0 calc(33.33% - 20px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22em;
  max-width: 80%;
  padding: 2em 0;
  background: #FFF;
  box-shadow: 0 0 6px 2px rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

.cards::before, .cards::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #39A900;
  height: 4px;
}

.cards::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.cards::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.cards .contento {
  width: 18em;
  max-width: 80%;
}

.cards .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.cards .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.cards .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.cards .hover_content p {
  margin: 1.5em 0 0;
  color: #6E6E70;
  line-height: 1.4em;
}

.cards:hover {
  width: 24em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.cards:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.cards:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.cards:hover .logo {
  margin-bottom: 0.5em;
}

.cards:hover .hover_content {
  max-height: 50em;
  transform: none;
}


@media screen and (max-width: 768px) {
  .flex-wrapper {
    flex-direction: column; /* Cambiar a una disposición vertical */
  }

  .containe {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 10px 0; /* Espacio entre tarjetas en disposición vertical */
  }
}


/*Instrumentos*/

.content_2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
}
.img_ins img{
  width: 300px;
  margin-left: 50px;
  height: 400px;
  border-radius: 15px;
}
.card_ins {
  width: 300px;
  height: 400px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
 }
 
 .card_ins .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 .item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
 }
 
 .item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
 }
 
 .item--1 {
  background: #c7c7ff;
 }
 
 .item--2 {
  background: #ffd8be;
 }
 
 .item--3 {
  background: #a9ecbf;
 }
 
 .item--4 {
  background: #f3bbe1;
 }
 
 .quantity {
  font-size: 25px;
  font-weight: 600;
 }
 
 .text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
 }
 
 .text--1 {
  color: rgba(149,149,255,1);
 }
 
 .text--2 {
  color: rgba(252,161,71,1);
 }
 
 .text--3 {
  color: rgba(66,193,110,1);
 }
 
 .text--4 {
  color: rgba(220,91,183,1);
 }


/*Horarios*/
.schedule-table {
  width: 100%;
  max-width: 800px; /* Puedes ajustar el ancho máximo según tus preferencias */
  margin: 0 auto;
}

.schedule-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #ddd;
}

.schedule-table th.day {
  background-color: #39a900;
  color: white;
}

.schedule-table th.morning {
  background-color: #39a900;
  color: white;
}

.schedule-table th.afternoon {
  background-color: #39a900;
  color: white;
}

.schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para hacer responsive la tabla en pantallas pequeñas */
@media (max-width: 576px) {
    .schedule-table table {
      font-size: 0.8rem; /* Reducimos el tamaño de fuente en pantallas pequeñas */
    }
  }


/*Galeria*/
.img-gallery{
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 30px;
}
.img-gallery img{
  width: 100%;
  cursor: pointer;
  transition: 1s;
}
.img-gallery img:hover{
  transform: scale(1.2);
}
.ful-img{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ful-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.ful-img img{
  width: 90%;
  max-width: 600px;
}
@media screen and (max-width:400px){
  h1{
      text-decoration: underline;
  }
  h1::before{
      display: none;
  }
  h1 span{
      padding: 0;
  }
}
/*Profesional*/
.profesional{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: rgb(245, 245, 245);
}

.card {
  display: flex;
  width: 800px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-image: url('../img_musica/profesional.png');
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 270px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.heading h3{
  font-size: 25px;
  color: #39A900;
}
.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
  margin: 15px;
}

.heading p{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

@media(max-width: 768px){

  .card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

 .image{
  width: 100%;
  margin: 10px;
 }

 .card-image{
  width: 100%;
 }
}


/*encuesta de satisfaccion*/
.boton{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #39A900;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #39A900;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .boton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #39A900;
    z-index: -1;
  }
  
  .boton:hover, .boton:focus {
    color: white;
  }
  
  .boton:hover:before, .boton:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .boton:active {
    transform: scale(0.9);
  }


/*-------Footer-------*/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  
  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
  }
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  
  .footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  
  
  