@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lobster&family=Open+Sans:wght@400;500&family=PT+Sans&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
}

h2 {
  text-align: center;
  color: #39a900;
  margin-bottom: 5px;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  transition: 0.7s;
  padding: 0 5%;
  height: 105px;
  width: 100%;
  justify-content: space-around;
  background-color: transparent;
}

nav .logo img {
  margin-top: 10px;
  float: left;
  width: 85px;
  height: 80px;
  display: flex;
  align-items: center;
}

nav .list {
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .list li {
  list-style: none;
}

nav .list a {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav .list a:hover {
  border-bottom: 4px solid #39a900;
}

#toggle {
  position: absolute;
  top: -100px;
}

nav .icon-bars {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-bars .line {
  width: 30px;
  height: 5px;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
  nav.list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .list {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .list a {
    font-size: 13px;
  }

  nav :checked ~ .list {
    bottom: 0;
  }

  nav .icon-bars {
    display: block;
  }

  nav.abajo .icon-bars .line {
    background-color: #1b1b1b;
  }
}

nav.abajo {
  background: #fff;
  padding: 15px 20px;
}

nav.abajo .logo,
nav.abajo ul li a {
  color: #1b1b1b;
  text-shadow: none;
}

nav ul li a.activate {
  color: #fff;
  font-weight: 600;
  background: #39a900;
  padding: 10px 20px;
  border-radius: 10px;
}

.background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(70, 70, 70, 0.8), rgb(57, 57, 57)), url('../img_psicosocial/Img1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.home {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 35px;
  border: 1px solid black;
  border-radius: 10px;
  border: none;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 800px;
  padding: 10px 0;
}

.content h1 {
  margin: 0;
  top: 0;
  font-size: 4em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inscribirse{
    position: absolute;
    top: 60%;
    left: 46%;
    z-index: 8;
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid #39A900;
    font-size: 15px;
    text-align: center;
    color: #39A900;
    font-weight: 600;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #E0E1E4;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
  }
  
  .inscribirse:hover {
    background-color: #39A900;
    color: #E0E1E4;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .inscribirse:active {
    transform: scale(0.95);
  }

/* Estilos para la sección de servicios de Psicología */
.Services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px; /* Espacio entre las columnas */
    padding: 30px; /* Espacio alrededor de las columnas */
}

.Services-item {
    flex-basis: calc(33.33% - 20px); /* 3 columnas por fila, con espacio entre ellas */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centro el contenido dentro de cada columna */
    transition: all 0.4s; /* Transición para la animación */
}

.Services-item:hover {
    transform: scale(1.1); /* Escala al hacer hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
    background-color: #39a900; /* Color de fondo al hacer hover */
}

.Services-item h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

/* Estilos para hacer responsive las columnas */
@media (max-width: 768px) {
    .Services {
        margin: 30px;
    }

    .Services-item {
        display: flex;
        padding: 15px;
        flex: 1;
        flex-direction: column;
    }
}

/* Estilos para hacer responsive los títulos */
@media (max-width: 576px) {
    .Services-item h3 {
        font-size: 1.2rem;
    }
}

/* Estilos para hacer responsive los párrafos */
@media (max-width: 576px) {
    .Services-item p {
        font-size: 0.9rem;
    }
}

.schedule-table {
  width: 100%;
  max-width: 800px; /* Puedes ajustar el ancho máximo según tus preferencias */
  margin: 0 auto;
}

.schedule-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #ddd;
}

.schedule-table th.day {
  background-color: #39a900;
  color: white;
}

.schedule-table th.morning {
  background-color: #39a900;
  color: white;
}

.schedule-table th.afternoon {
  background-color: #39a900;
  color: white;
}

.schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para hacer responsive la tabla en pantallas pequeñas */
@media (max-width: 576px) {
    .schedule-table table {
      font-size: 0.8rem; /* Reducimos el tamaño de fuente en pantallas pequeñas */
    }
  }

/* Estilo para los detalles */
.profesional{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background: rgb(201, 201, 201);
  }
  
  .card {
    display: flex;
    width: 800px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    height: 270px;
    width: 270px;
  }

  .card-image img{
    margin-top: 50px;
    height: 270px;
    width: 270px;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .heading h3{
    font-size: 25px;
    color: #39A900;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    margin: 15px;
  }
  
  .heading p{
    margin: 10px;
    padding: 5px;
    font-size: 15px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

@media (max-width: 768px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading{
        text-align: center;
    }
}

/* Estilo base */
.conta {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.imagen {
  width: 30%;
  margin-right: 20px;
}

.accordion {
  width: 50%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media screen and (max-width: 768px) {
  .conta {
    flex-direction: column; /* Cambia a disposición vertical */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .imagen {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0; /* Elimina el margen derecho */
  }
  .accordion {
    width: 100%;
    margin: 30px;
  }
}

.encuesta{
    margin-top: -20px;
}

/*encuesta de satisfaccion*/
.boton {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #39a900;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #39a900;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.encuesta h2{
    margin-bottom: 20px;
}

.boton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #39a900;
  z-index: -1;
}

.boton:hover,
.boton:focus {
  color: white;
}

.boton:hover:before,
.boton:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.boton:active {
  transform: scale(0.9);
}

/*footer*/
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #39a900;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
